# Ignore personal settings:
settings.txt
notes.txt
test_*
*.pyc
arm_state.txt

# Ignore the sample images:
*.PNG
*.png

# Ignore the media:
./media/*

# Ignore temp files:
./tempFiles

# Ignore the logs:
./logs/*

# More:
__pycache__
.vscode